[submodule "trace/k6"]
	path = trace/k6
	url = git@github.com:grafana/k6.git
[submodule "k8s/cri-dockerd"]
	path = k8s/cri-dockerd
	url = https://github.com/Mirantis/cri-dockerd.git
[submodule "trace/grafana"]
	path = trace/grafana
	url = git@github.com:grafana/grafana.git
