<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
<context:annotation-config/>
<!-- 配置测试service -->
<bean id="testService"  class="com.sina.test.TestService">
<property name="name">
<value>abc</value>
</property>
</bean>
<!-- 配置数据源 -->
<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	    <property name="url" value="jdbc:mysql://localhost:3306/pinglun?useUnicode=true&amp;characterEncoding=UTF-8"/>
	    <property name="username" value="root"/>
	    <property name="password" value="root"/>
	     <!-- 连接池启动时的初始值 -->
	<property name="initialSize" value="3"/>
	 <!-- 连接池的最大值 -->
	 <property name="maxActive" value="500"/>
 <!-- 最大空闲值.当经过一个高峰时间后，连接池可以慢慢将已经用不到的连接慢慢释放一部分，一直减少到maxIdle为止 -->
	<property name="maxIdle" value="2"/>
	<!--  最小空闲值.当空闲的连接数少于阀值时，连接池就会预申请去一些连接，以免洪峰来时来不及申请 -->
	<property name="minIdle" value="1"/>
</bean>

<!-- 配置sessionfactory -->
<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
     <property name="dataSource" ref="dataSource"/>
     <property name="mappingResources">
	    <list>
	      <value>com/sina/domain/Content.hbm.xml</value>
	      <value>com/sina/domain/Type.hbm.xml</value>
	    </list>
     </property>
     <property name="hibernateProperties">
     	<!-- 配置hibernate二级缓存 oscache ehcache hashtable -->
	    <value>
	        	hibernate.dialect=org.hibernate.dialect.MySQLDialect
				hibernate.show_sql=true
				hibernate.format_sql=false
				hibernate.cache.use_second_level_cache=true
        	    hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
        	    hibernate.generate_statistics=true	      
	 </value>
    </property>
</bean>
<!-- 配置service -->
<bean id="testService2" class="com.sina.service.imp.TestService2">
<property name="sessionFactory" ref="sessionFactory"/>
</bean>

<bean id="typeService" class="com.sina.service.imp.TypeService"/>
<bean id="contentService" class="com.sina.service.imp.ContentService"/>

<!-- 配置action -->
<bean name="/test" class="com.sina.struts.action.TestAction">
<property name="testService2" ref="testService2"/>
</bean>
<bean name="/login" class="com.sina.web.action.LoginAction">
<property name="typeService" ref="typeService"/>
</bean>
<bean name="/content" class="com.sina.struts.action.ContentAction">
<property name="contentService" ref="contentService"/>
<property name="typeService" ref="typeService"/>
</bean>

<!-- 配置事务管理器 -->
<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
  	<property name="sessionFactory" ref="sessionFactory"/>
</bean>
<tx:annotation-driven transaction-manager="txManager"/>

</beans>
